{% extends 'base.html.twig' %}

{% block title %}Teachermarks - Saisie des compétences{% endblock %}

{% block body %}

<div class="container d-flex flex-column justify-content-center">
    <div class="d-flex align-items-center justify-content-center pb-3">
        <h1 class="text-center">dd</h1>
    </div>
    <div class="row pb-3">
        <div class="col-4">
            <div class="bg-light rounded-5 p-3" id="test-info">
                <ul>
                    <li>Classe : <span class="fw-bold">{{testInfo.schoolclass.name}}</span></li>
                    <li>Date : <span class="fw-bold"></span></li>
                    <li>Trimestre : <span class="fw-bold">TR </span></li>
                </ul>
            </div>
        </div>
        <div class="col-8">
            <div class="table-responsive">
                <table class="table table-hover text-center table-bordered border-dark">
                    <thead>
                        <th colspan="5">Légende des compétences</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><div class="skill-level skill-level0">0</div></td>
                            <td><div class="skill-level skill-level1">1</div></td>
                            <td><div class="skill-level skill-level2">2</div></td>
                            <td><div class="skill-level skill-level3">3</div></td>
                            <td><div class="skill-level skill-level4">4</div></td>
                        </tr>
                        <tr>
                            <td>Non maîtrisée</td>
                            <td>Insuffisamment maîtrisée</td>
                            <td>Fragilement maîtrisée</td>
                            <td>Bien maîtrisée</td>
                            <td>Très bien maîtrisée</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

        <form method="post" action="{{ path('edit_skills', {'testid': testid}) }}">
            <table class="table table-bordered table-hover text-center table align-middle">
                <thead>
                    <tr>
                        <th scope="col">Nom de l'élève</th>
                        <th scope="col"><span class="compet1">Lecture</span></th>
                        <th scope="col"><span class="compet2">Connaissances</span></th>
                        <th scope="col"><span class="compet3">Argumentation</span></th>
                        <th scope="col"><span class="compet4">Ecrit</span></th>
                        <th scope="col"><span class="compet5">Oral</span></th>
                        <th scope="col">Note</th>

                    </tr>
                </thead>
                <tbody>
                    {% for form in forms %}
                    <tr>
                        {{ form_start(form) }}
                        <td>{{ form_widget(form.student) }} </td>
                        <td>{{ form_widget(form.skill1) }}</td>
                        <td>{{ form_widget(form.skill2) }}</td>
                        <td>{{ form_widget(form.skill3) }}</td>
                        <td>{{ form_widget(form.skill4) }}</td>
                        <td>{{ form_widget(form.skill5) }}</td>
                        <td>{{ form_widget(form.mark) }}</td>

                        {{ form_end(form) }}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Tout modifier</button>
        </form>

    </div>

</div>


{% endblock %}
