{% extends 'base.html.twig' %}

{% block title %}Teachermarks - Evaluation{% endblock %}

{% block body %}

<style>
    .no-tick{
        list-style-type: none;
        padding-left: 0;
    }
</style>

<div class="container-fluid px-3">
        <h1 class="text-center pb-3">Eval : <b>{{testInfo.description}}</b></h1>
    <div class="row pb-3">
        <div class="col-lg-6">
            <div class="bg-light rounded-5 p-3 d-flex justify-content-around align-items-center" id="test-info">
                <ul class="no-tick">
                    <li>Classe : <a href="/class/{{testInfo.schoolclass.id}}"><span class="fw-bold">{{testInfo.schoolclass.name}}</span></a></li>
                    <li>Date : <span class="fw-bold">{{testInfo.date|date('d/m/Y')}}</span></li>
                    <li>Trimestre : <span class="fw-bold">{{testInfo.trimester}}</span></li>
                    <li>Barème / <span class="fw-bold"> {{testInfo.scale}}</span></li>
                    <li>Coefficient : <span class="fw-bold">{{testInfo.coefficient}}</span></li>
                </ul>
                <div>
                    <a href="/edittest/{{testInfo.id}}" class="btn btn-primary"><i class="bi bi-gear"></i> Modifier les paramètres</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="table-responsive d-none d-md-flex">
                <table class="table table-hover text-center table-bordered border-dark">
                    <thead>
                        <th colspan="5">Légende des compétences</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><div class="skill-level skill-level0">0</div></td>
                            <td><div class="skill-level skill-level1">1</div></td>
                            <td><div class="skill-level skill-level2">2</div></td>
                            <td><div class="skill-level skill-level3">3</div></td>
                            <td><div class="skill-level skill-level4">4</div></td>
                        </tr>
                        <tr>
                            <td>Non maîtrisée</td>
                            <td>Insuffisamment maîtrisée</td>
                            <td>Fragilement maîtrisée</td>
                            <td>Bien maîtrisée</td>
                            <td>Très bien maîtrisée</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="accordion d-block d-md-none mt-2" id="accordionSkillKey">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Voir la légende des compétences
                    </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionSkillKey">
                        <div class="accordion-body">
                            <div class="table-responsive">
                                <table>
                                    <tr>
                                        <td><div class="skill-level skill-level0">0</div></td>
                                        <td>Non maîtrisée</td>
                                    </tr>
                                    <tr>
                                        <td><div class="skill-level skill-level1">1</div></td>
                                        <td>Insuffisamment maîtrisée</td>
                                    </tr>
                                    <tr>
                                        <td><div class="skill-level skill-level2">2</div></td>
                                        <td>Fragilement maîtrisée</td>
                                    </tr>
                                    <tr>
                                        <td><div class="skill-level skill-level3">3</div></td>
                                        <td>Bien maîtrisée</td>
                                    </tr>
                                    <tr>
                                        <td><div class="skill-level skill-level4">4</div></td>
                                        <td>Très bien maîtrisée</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center py-3">
        <a href="/addtestskills/test={{testInfo.id}}" class="btn btn-warning btn-lg"><i class="bi bi-pencil"></i> Modifier les compétences des élèves</a>
    </div>
    <div class="row pb-3">
        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
            <table class="table table-bordered table-hover text-center align-middle">
                <thead class="sticky-top bg-light align-middle">
                    <tr>
                        <th scope="col" class="sticky-left bg-light">Nom de l'élève</th>
                        {% if showSkill1 %}<th scope="col"><span class="compet1">Lect</span></th>{% endif %}
                        {% if showSkill2 %}<th scope="col"><span class="compet2">Conn</span></th>{% endif %}
                        {% if showSkill3 %}<th scope="col"><span class="compet3">Argu</span></th>{% endif %}
                        {% if showSkill4 %}<th scope="col"><span class="compet4">Ecrit</span></th>{% endif %}
                        {% if showSkill5 %}<th scope="col"><span class="compet5">Oral</span></th>{% endif %}
                        <th scope="col">Note</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                        <tr>
                            <th scope="row" class="sticky-left bg-light">
                                <a href="/showstudent{{student.student.id}}">
                                    <span class="text-uppercase">{{student.student.lastname}}</span> {{student.student.firstname}}
                                </a>
                            </th>
                            {% if showSkill1 %}
                                <td>
                                    <span class="{% if student.skill1 != 0 %}skill-level skill-level{{student.skill1}}{% endif %}">
                                        {{ student.skill1 == 0 ? 'x' : student.skill1 }}
                                    </span>
                                </td>
                            {% endif %}
                            {% if showSkill2 %}
                                <td>
                                    <span class="{% if student.skill2 != 0 %}skill-level skill-level{{student.skill2}}{% endif %}">
                                        {{ student.skill2 == 0 ? 'x' : student.skill2 }}
                                    </span>
                                </td>
                            {% endif %}
                            {% if showSkill3 %}
                                <td>
                                    <span class="{% if student.skill3 != 0 %}skill-level skill-level{{student.skill3}}{% endif %}">
                                        {{ student.skill3 == 0 ? 'x' : student.skill3 }}
                                    </span>
                                </td>
                            {% endif %}
                            {% if showSkill4 %}
                                <td>
                                    <span class="{% if student.skill4 != 0 %}skill-level skill-level{{student.skill4}}{% endif %}">
                                        {{ student.skill4 == 0 ? 'x' : student.skill4 }}
                                    </span>
                                </td>
                            {% endif %}
                            {% if showSkill5 %}
                                <td>
                                    <span class="{% if student.skill5 != 0 %}skill-level skill-level{{student.skill5}}{% endif %}">
                                        {{ student.skill5 == 0 ? 'x' : student.skill5 }}
                                    </span>
                                </td>
                            {% endif %}
                            <td>{{ student.mark }}/{{ testInfo.scale }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
 


{% endblock %}
